.Article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Article-data {
    /* border-style: solid;
    border-color: orange; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.author {
    margin: 10px;


    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.author h5 {
    margin-block-end: 0em !important
}