.Header {
    border-style: solid;
    border-color: teal;
    margin: 10px;

}

.Nav-Header {
    border-style: solid;
    border-color: rgb(0, 172, 172);
    margin: 10px;
    padding: 10px;



}



.Topic-Menu {
    width: 300px;
    margin: 10px;
}

.Topic-Item {
    text-decoration: none;
    text-transform: capitalize;
}