.Header {

    padding-left: 5em;
    padding-right: 5em;
    margin-top: 2em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

}

.Header h1 {
    font-size: 3em;
    font-weight: 200;
}




.TopicsSelector {
    /* border-style: solid;
    border-color: rgb(0, 213, 199); */
    margin: 10px;
    padding: 10px;



}



.Topic-Menu {
    width: 300px;
    margin: 10px;
}

.Topic-Item {
    text-decoration: none;
    text-transform: capitalize;
}

.logDiv {
    display: flex;
    flex-direction: column;
}

.SortOptions {
    /* border-style: solid;
    border-color: rgb(0, 213, 199); */
    margin: 10px;
    padding: 10px;
}

.User-Menu {
    width: 300px;
    margin: 10px;
}

.SelectUser {
    padding-bottom: 40px;
}

@media screen and (min-width: 900px) {
    .Header {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        /* margin-left: 5%; */
    }


}